@import "./../../styles/var.scss";

.header {
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $header-zIndex;
  border-bottom: 1px solid #f6f6f6;
}

.logoActive {
  animation: rotate 0.4s linear infinite forwards;
}

.left {
  line-height: $header-height;
  margin-left: 20px;
}

.desc {
  font-size: 12px;
  color: #5e5d5d;
  margin-left: 5px;
  transform: translateY(2px);
}

.link {
  margin: 0 5px;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
