.navbar {
  cursor: pointer;
  overflow: hidden;
  .title-wrapper {
    position: relative;
  }
  .line {
    position: absolute;
    top: 20px;
    left: 4px;
    height: calc(100% - 10px);
    border-left: 2px solid #f0f0f0;
  }
  .circle {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border: 2px solid transparent;
    border-radius: 100px;
    border-color: #1890ff;
    margin-right: 10px;
  }
}

.icon-title {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  border: 3px solid #bdbdbdd9;
  margin-right: 10px;
}

.active {
  color: #0070f3;
}

.title {
  line-height: 2;
  pointer-events: none;
  font-size: 13px;
}
.title-2 {
  padding-left: 0;
  font-size: 14px;
  font-weight: 700;
}

.title-3 {
  padding-left: 2em;
}

.title-4 {
  padding-left: 4em;
}
.title-5 {
  padding-left: 6em;
}
