@import "styles/var.scss";

.input {
  margin-bottom: 10px;
}

.commentWrapper {
  margin-top: 10px;

  :global {
    .ant-comment-content-author {
      justify-content: space-between;
    }
    .ant-comment-nested {
      margin-left: 30px;
    }
  }
}

.commentBox {
  padding-bottom: 10px;
}

.secondWrapper {
  padding: 10px;
  background-color: rgba(247, 248, 250, 0.7);
  // margin-bottom: 10px;
  .avatar {
    width: 20px;
    height: 20px;
    img {
      width: 20px;
      height: 20px;
    }
  }

  .commentBox {
    padding-bottom: 0;
  }
}

.isReply {
}

.replyBtnShow {
  color: $main-color !important;
}

.replyContent {
  background: #f2f3f5;
  border: 1px solid #e4e6eb;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0 12px;
  line-height: 36px;
  height: 36px;
  font-size: 14px;
  color: #8a919f;
  margin-top: 8px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.username {
  font-weight: 500;
  font-size: 14px;
  max-width: 90px;
  color: #252933;
  a {
    color: #252933;
  }
  &:hover {
    a {
      color: $main-color;
    }
  }
}

.replyText {
  margin: 0 10px;
}
