@import "./../../styles/var.scss";

.list {
  min-height: 100%;
}
.header {
  color: #595959;
  font-size: 14px;
  margin: 10px 0;
}
.searchText {
  font-size: 12px;
  margin-left: 10px;
  color: #8c8c8c;
}

.noDate {
  color: #595959;
  padding: 40px;
  background-color: #fff;
  border-radius: 4px;
  font-size: 12px;
}

.noDateTitle {
  margin-bottom: 10px;
}

.noDateList {
  padding-left: 20px;
}

.content-wrapper {
  cursor: pointer;
}

.list-title {
  margin-bottom: 10px;
}

.list-content {
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  * {
    font-size: 14px !important;
  }
}
.item-date {
  margin-right: 10px;
  color: #8c8c8c;
}
.listTitle {
  color: #000;
  font-size: 15px;
}

.listContent {
  font-size: 14px;
}

.item-cates {
  font-size: 12px;
  border: 1px solid #8c8c8c;
  margin-right: 4px;
  border-radius: 10px;
  padding: 0 6px;
}
