@import './../../styles/var.scss';

.footer {
  position: relative;
  background: #f6f6f6;
  text-align: center;
  color: rgb(165, 162, 162);
  font-size: 12px;
  line-height: $footer-height;
  border-top: 1px solid #eaeaea;
}