@import "./../../styles/var.scss";

.wrapper span a.link {
  color: $main-color;
}

.article {
  margin-top: 10px;
  margin-bottom: 10px;
  .article-title {
    font-size: 26px;
    color: #368df3;
    margin-bottom: 0.4em;
    letter-spacing: 1px;
  }
  .article-keys {
    font-size: 12px;
    color: grey;
    margin-bottom: 10px;
  }
  .article-time {
    margin-right: 10px;
  }
  .article-content {
    margin-top: 30px;
  }
  .divide-line {
    width: 70%;
    height: 1px;
    margin: 70px auto;
    background-color: #e1e1e1
  }
  .update-time {
    color: #b2b2b2;
    margin-bottom: 5px;
  }
}

.article-menu {
  top: calc($header-margin + $header-height);
  margin-top: $header-margin;
  max-height: calc(100vh - $header-height - $header-margin);
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}
