@import './var.scss';

.main {
  padding-top: calc($header-height + $header-margin);
  min-height: calc(100vh - $footer-height);
  .main-left {
  }

  .main-right {
    margin-left: 0.5rem;
  }
}
.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 0.3rem;
}

.list-title {
  font-weight: bold;
}

.list-context {

}

.list-keys {

}

